@import "tailwindcss";

body {
  overflow-x: hidden;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: white !important;
  height: 2px;
  border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background:  #f97316 !important;
  cursor: pointer;
}